<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.forus.mapper.ViewMapper">


	<select id="goodsCategory" resultType="com.forus.domain.gCategoryVO">
		select * from g_category_tb
	</select>
	
	<update id= "wishUpdate" parameterType="com.forus.domain.wishListVO">
		update wishlist_tb set wish_yn= #{wish_yn} where g_seq = #{g_seq} and user_id = #{user_id}
	</update>
	
	<select id="wishCheck"  parameterType="com.forus.domain.wishListVO" resultType="String">
		select wish_seq from wishlist_tb where g_seq = #{g_seq} and user_id = #{user_id}
	</select>
	
	
	<!-- 찜 기록 가져오기 -->
	<select id="wishInfo" parameterType="com.forus.domain.wishListVO" resultType="String">
		select wish_yn from wishlist_tb where g_seq = #{g_seq} and user_id = #{user_id}
	</select>
	


</mapper>